td{
    text-align: center;
}
#grid td{
    width: 20px;
    height: 20px;
}

.raw-cell{
    background-color: grey;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

#controls-table{
    width: 100%;
    border-collapse: collapse;
}
input{
    width: 100%;
}
button{
    width: 100%;
}